*{
  box-sizing: border-box;
}
.App {
  text-align: center;
  background-image: linear-gradient(rgba(0, 255, 200, 0),rgba(0, 255, 255, 0.61));  height: 100vh;
}
.ABC {
  background: rgba(255,255,255,0.5);
  padding: 40px;
  font-family: 'Courier New', Courier, monospace;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.logo {
  height: 40px;
  margin-right: 24px;
}

.text-input {
position:absolute;
bottom:0;
height:40px;
width:100%;
border-top:1px solid white;
}

.text-input input{
  width: 60%;
  height: 100%;
  font-size: 24px;
}

.text-input button{
  width: 40%;
  height: 100%;
  border-radius: 20px;
  cursor:pointer;
}

.text-input button:hover{
  background: teal;
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
